# Python dependencies required to run the stock prediction model API.
# Install them by running the following command in your terminal:
# pip install -r src/app/stock_price_ii-master/requirements.txt

Flask==2.2.2
pandas
numpy
scikit-learn
yahoofinancials
tensorflow
keras
