@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 130 29% 97%; /* #F0FAF2 - Very light, desaturated green */
    --foreground: 222.2 84% 4.9%;

    --card: 130 29% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 130 29% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    
    --primary: 125 30% 74%; /* #A7D1AB - Soft, muted green */
    --primary-foreground: 210 40% 98%;

    --secondary: 130 29% 93%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 130 29% 93%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 73 38% 71%; /* #C4D793 - Light desaturated yellow-green */
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 125 30% 85%;
    --input: 125 30% 85%;
    --ring: 125 30% 74%;

    --radius: 0.8rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 125 30% 74%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 73 38% 71%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 125 30% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
