@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 256 83% 97%; /* Light purple */
    --foreground: 222.2 84% 4.9%;

    --card: 256 83% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 256 83% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    
    --primary: 256 83% 67%; /* #632DE9 - Purple Blue */
    --primary-foreground: 210 40% 98%;

    --secondary: 256 83% 93%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 256 83% 93%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 256 83% 85%; /* Lighter purple */
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 256 83% 90%;
    --input: 256 83% 90%;
    --ring: 256 83% 67%;

    --radius: 0.8rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 256 83% 67%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 256 83% 60%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 256 83% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
